/* Main */
#m-dashboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  overflow-x: hidden;
}

/* Grafico */
#dashBoardGrafico {
  width: 100%;
}

/* Cards tab */
.d-cards {
  width: 8rem;
  max-height: 10rem;
}
