/* Main */
#m-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

/* Logo Container */
#logo-container > img {
  width: 10rem;
}
