<link rel="stylesheet" href="/assets/css/header.css" />
<script type="module" defer src="/assets/js/components/header.js"></script>
<header id="header">
  <section id="header-bar">
    <a id="noExist" href="/">
      <img
        class="icon mb-hidden"
        src="/assets/svg/icons/arrow.svg"
        alt="voltar"
      />
    </a>
    <img class="icon cursor" src="/assets/svg/icons/menu.svg" alt="menu" id="menu-button"/>
  </section>
  <section id="header-content" class="hidden">
    <a href="/">
      <img src="/assets/svg/logo/logo.svg" alt="logo" id="header-logo" />
    </a>
    <nav id="header-nav">
      <ul>
        <li>
          <a href="/">Home <img src="/assets/svg/icons/home.svg" alt="home"></a>
        </li>
        <li>
          <a href="/perfil">Sobre <img src="/assets/svg/icons/profile.svg" alt="perfil"> </a>
        </li>
        <li>
          <a href="/conquistas">Contato <img src="/assets/svg/icons/star.svg" alt="conquistas"> </a>
        </li>
        <li>
          <a href="/cursos">Cursos <img src="/assets/svg/icons/course.svg" alt="cursos"> </a>
        </li>
      </ul>
    </nav>
  </header>
